{% extends 'base.html' %}
{% load static %}
{% block title %}Administrador{% endblock title %}


{% block content %}
<div class="navbar navbar-expand-xl bg-dark w-100">
    <a href="{% url 'admin-dashboard' %}" class="navbar-brand">
        <img src="{% static 'images/icon/logo.png' %}" style="width: 100px" />
    </a>
    <div class="text-end">
        <a href="{% url 'inicio' %}" class="btn btn-primary">
            <i class="fa-solid fa-house"></i>
        </a>
        <a href="{% url 'logout' %}" class="btn btn-danger me-4"
        ><i class="fa-solid fa-right-from-bracket"></i>
      </a>
    </div>
</div>

<div class="container mt-4">
    <h1 class="text-center">Bienvenido al Panel de Administración</h1>
    <div class="row mt-5">
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h5 class="card-title">Productos</h5>
                    <p class="card-text">Gestion de Productos.</p>
                    <a href="{% url 'productos' %}" class="btn btn-primary">Ir a Productos</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h5 class="card-title">Categorias</h5>
                    <p class="card-text">Categorias de Productos.</p>
                    <a href="{% url 'categorias' %}" class="btn btn-primary">Ir a Categorias</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h5 class="card-title">Ventas</h5>
                    <p class="card-text">Historial de Ventas.</p>
                    <a href="{% url 'ventas' %}" class="btn btn-primary">Ir a Ventas</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}