{% extends 'base.html' %}
{% load static %}
{% block title %}Carrito{% endblock title %}


{% block content %}
<div class="navbar navbar-expand-xl bg-dark w-100">
    <a href="{% url 'inicio' %}" class="navbar-brand">
        <img src="{% static 'images/icon/logo.png' %}" style="width: 100px" />
    </a>
    {% if not user_id %}
      <a href="{% url 'login' %}" class="btn btn-primary me-3"
        ><i class="fa-solid fa-user"></i>
      </a>
    {% else %}
     <div class="text-end">
        {% if rol_user == 2 %}
            <a href="{% url 'admin-dashboard' %}" class="btn btn-primary ms-2">
                <i class="fa-solid fa-user-tie"></i>
            </a>
        {% endif %}
        <a href="{% url 'logout' %}" class="btn btn-danger me-3"
            ><i class="fa-solid fa-right-from-bracket"></i>
        </a>
     </div>
    {% endif %}
</div>

<div class="row d-flex flex-wrap py-5">
    <div class="col-12 col-md-8 mb-4">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success">
                    <p>{{ message }}</p>
                </div>
                {% elif message.tags == 'error' %}
                <div class="alert alert-danger">
                    <p>{{ message }}</p>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if carrito %}
        {% for i in carrito %}
        <div class="card p-3 mb-3">
            <div class="row">
                <div class="col-md-3 py-5">
                    {% if i.imagen %}
                    <img src="{{ i.imagen }}" alt="{{ i.nombre }}" class="img-fluid">
                    {% else %}
                    <p class="text-danger">Imagen no Disponible</p>
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.nombre }}</h5>
                        <p class="card-text">{{ i.descripcion }}</p>
                        
                        <div class="d-flex justify-content-start align-items-center">
                            <a href="{% url 'cantCarro' i.id 'resta' %}" class="btn btn-outline-secondary me-2">-</a>
                            <input disabled type="text" value="{{ i.cantidad }}" class="form-control w-auto me-2">
                            <a href="{% url 'cantCarro' i.id 'suma' %}" class="btn btn-outline-secondary me-2">+</a>
                        </div>
                        
                        <p class="mt-2">
                            <span class="ms-2 text-success">${{ i.precio }}</span>
                        </p>
                        <a href="{% url 'deleteCarro' i.id %}" class="btn btn-danger mt-1">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h2 class="text-info">No Hay Elementos en el Carro</h2>
        {% endif %}
    </div>

    <div class="col-12 col-md-4 d-flex flex-column py-5">
        <div class="card p-3">
            <h4>Resumen ({{ carrito|length }}) productos</h4>
            <div class="d-flex justify-content-between">
                <p>Total</p>
                <p class="price">
                    ${{ total|floatformat:0 }}
                </p>
            </div>
            {% if request.session.user_id %}
            <a href="{% url 'vender' %}" class="btn btn-success w-100">Confirmar Compra</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-success w-100">Confirmar Compra</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}