{% extends 'base.html' %}
{% block title %}Inicio{% endblock title %}
{% block content %}

<div class="row">
    <div class="nav">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <a href="nav-link">
                        <img src="#">
                    </a>
                </div>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <a href="{% url 'login' %}" class="btn btn-primary mx-5">Inicio Session</a>
                <a href="#">Carro</a>
            </div>
        </nav>
    </div>
</div>
<div class="row">

</div>

<a href="{% url 'login' %}" class="btn btn-success">Login</a>

{% endblock content %}
